/* MAIN NAVIGATION */
nav {
  /* For now the navbar is behind the aside due to position fixed. Aside has a width of 7rem */
  margin-left: 7rem;

  /* Taking the main navigation out of the regular flow will remove the unwanted space created by the h1 margin. It will also keep it fixed to the viewport */
  position: fixed;
  width: 30rem;
  height: 100%;

  /* use linear gradient to create a nice layer over the background image */
  background: linear-gradient(
      100deg,
      rgba(10, 230, 200, 0.4) 0%,
      rgba(100, 10, 200, 0.6) 40%,
      rgba(10, 150, 101, 0.4) 90%
    ),
    url(../images/pexels-rakicevic-nenad-1274260.jpg) no-repeat center;
  background-size: cover;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Heading */
nav > section:first-child {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav > section:first-child h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 0.5rem;
  color: rgb(2, 250, 118);
  text-align: center;

  text-shadow: 4px 4px 5px rgb(0, 0, 0);

  /* Animation */
  animation: header 10s alternate infinite;
}

nav form {
  padding: 1rem;

  /* input will contain the search button */
  position: relative;
}

nav > section:first-child input {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  letter-spacing: 0.2rem;
  width: 20rem;
  padding: 0.2rem 1.2rem;
  border-radius: 0.5rem;
  background: url(../images/pexels-adam-krypel-6498990.jpg) no-repeat center /
    cover;
  color: rgb(2, 250, 118);
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 0, 1);
  outline: none;
  border: none;

  animation: shadow 2s alternate infinite;
}

nav > section:first-child input:focus {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../images/pexels-adam-krypel-6498990.jpg) no-repeat center / cover;
}

nav > section:first-child input::placeholder {
  color: rgb(2, 250, 118);
  letter-spacing: 0.7rem;
}

nav > section:first-child button {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  color: rgb(2, 250, 118);
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  /* search button should be inside input */
  position: absolute;
  right: 1rem;
  z-index: 100;
}

nav > section:first-child button:focus {
  outline: none;
}

/* End of Heading */

/* Navigation List*/

nav > section > ul {
  /* Remove default padding */
  padding: 0;
  margin: 0;

  height: 30rem;
  list-style-type: none;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4Srem;
}

nav > section > ul > li {
  position: relative;
}

nav > section:nth-child(2) a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;

  text-shadow: 0.1rem 0.1rem rgb(0, 0, 0);
}

nav > section:nth-child(2) a:hover {
  color: rgba(200, 255, 0, 1);
  transition: color 1s ease-in-out;
}

nav > section:nth-child(2) a:hover::before,
nav > section:nth-child(2) a:hover::after {
  background-color: rgba(10, 220, 100, 1);
  width: 2.5rem;
  transition: width 1s ease-in-out, background-color 1s ease-in-out;
}

nav > section:nth-child(2) a::before {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: rgb(255, 255, 255);

  /* Position */
  position: absolute;
  left: -3rem;
  top: 50%;
}

nav > section:nth-child(2) a::after {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: rgb(255, 255, 255);

  /* Position */
  position: absolute;
  right: -3rem;
  top: 50%;
}
/* End of Nav List */

/* Footer of Navigation */
nav > footer {
  font-size: 1.3rem;
  margin-bottom: 1rem;

  text-shadow: 0.4rem 0.4rem 1rem rgba(255, 255, 255);
}

/* End of Footer of Navigation */

/* ANIMATION for the header */
@keyframes header {
  0% {
    color: rgb(10, 255, 260);
  }
  50% {
    color: rgb(200, 10, 200);
  }
  100% {
    color: rgb(12, 200, 100);
  }
}

/* ANIMATION for the search bar */
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 0, 1);
  }
  100% {
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  }
}
